//- Bloque Viajes

.row.proximos-viajes
    //- p= JSON.stringify(viajes)
    each viaje in viajes
        .col-md-6.col-lg-4.mb-4
            .card
                img.card-img-top(src=`img/destinos_${viaje.imagen}.jpg`, alt="Imagen del destino")
                .card-body
                    h2= viaje.titulo
                    p
                        svg.icon.icon-tabler.icon-tabler-calendar-event(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#dc135f' fill='none' stroke-linecap='round' stroke-linejoin='round')
                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                            rect(x='4' y='5' width='16' height='16' rx='2')
                            line(x1='16' y1='3' x2='16' y2='7')
                            line(x1='8' y1='3' x2='8' y2='7')
                            line(x1='4' y1='11' x2='20' y2='11')
                            rect(x='8' y='15' width='2' height='2')

                        | #{viaje.fecha_ida} - #{viaje.fecha_vuelta}
                    p
                        svg.icon.icon-tabler.icon-tabler-users(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#dc135f' fill='none' stroke-linecap='round' stroke-linejoin='round')
                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                            circle(cx='9' cy='7' r='4')
                            path(d='M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2')
                            path(d='M16 3.13a4 4 0 0 1 0 7.75')
                            path(d='M21 21v-2a4 4 0 0 0 -3 -3.85')                   

                        | #{viaje.disponibles} Disponibles
                    p= viaje.descripcion.substr(0, 100) + '...'
                    a(href=`viajes/${viaje.slug}`, class="btn btn-success btn-block") Mas informacion 